*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background: rgb(22,214,151);
    background: linear-gradient(90deg, rgba(22,214,151,1) 0%, rgba(17,177,179,1) 50%, rgba(69,248,252,1) 100%);
    width: 100%;
    min-height: 100vh;

}
.container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 30px 100px;
}
.label{
    text-align: center;
}
.label h1{
    font-size: 50px;
}
.label p{
    font-size: 20px;
    padding: 20px 0 40px 0;
}
.notes{
    display: flex;
    justify-content: center;
    flex: 1 1 200px;
    flex-wrap: wrap;
    gap: 20px;
}
#add-note{
    width: 300px;
    height: 250px;
    position: relative;
    background: transparent;
    z-index: 2;
    border: none;
}
#add-note::after,
#add-note::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: -1;
    background-color: white;
    opacity: 0.2;
    border-radius: 20px;

}
#add-note svg{
    fill: rgb(87, 87, 87);
    width: 50%;
    height: 50%;
    opacity: 0.5;
}
#add-note:hover::before{
    opacity: .5;
    transition: all 0.2s;

}
#add-note:hover svg{
    opacity: 1;
    transition: all 0.2s;
}

.note{
    width: 300px;
    height: 250px;
    border: 1px solid black;
    border-radius: 20px;
}
.textarea{
    min-width: 100%;
    max-width: 100%;
    max-height: 100%;
    min-height: 100%;
    background: transparent;
    padding: 15px;
    font-size: 25px;
    border: none;
    outline: none;
    box-shadow: none;
}
.note:hover{
    box-shadow: 0 0 5px black;
    transition: all 0.2s;
}

