@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
:root{
    --background: #222831;
    --container-background: #344955;
    --text-color: #EEEEEE;
    --deposit-color: #78A083;
    --withdraw-color: #50727B;
    --cancel-color: #FF204E;
    --font-size-title: 45px;
    --font-size-display: 20px;
    --font-size-p: 30px;
    --font-size-input-number: 25px;
}
body{
    height: 100vh;
    display: grid;
    place-items: center;
    color: var(--text-color);
    background-color: var(--background);
    font-family: 'Exo 2', 'Plus Jakarta Sans';
    padding: 0 50px;
}
.container{
    height: auto;
    background: var(--container-background);
    border: none;
    border-radius: 20px;
    padding: 20px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#title{
    font-size: var(--font-size-title);
    font-weight: bolder;
    padding: 0 15px;
    text-align: center;
}
.balance{
    display: flex;
    font-size: var(--font-size-p);
    gap: 10px;
    padding: 15px 0;
}
#input-number{
    width: 100%;
    font-size: var(--font-size-input-number);
    padding: 10px 30px;
    border: none;
    border-radius: 10px;
    color: #000;
}
.buttons{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    gap: 10px;
}
button{
    border: none;
    border-radius: 10px;
    font-size: var(--font-size-input-number);
    padding: 10px 0;
    color: var(--text-color);
}
#deposit{
    background: var(--deposit-color);
}
#withdraw{
    background: var(--withdraw-color);
}
#cancel{
    background: var(--cancel-color);
}
#display{
    padding: 20px;
    font-size: var(--font-size-display);
    text-align: center;
}